.header {
    background-color: white;
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    flex: 1;
    position: fixed;
    z-index: 4;
    top: 10px;
    left: 10px;
    right: 10px ;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    font-size: 15px;
}

.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-menu{
    width: 100%;
    display: flex;
    height: 100%;
    /* flex: 1; */
    align-content: center;
    align-items: center;
    list-style-type: none;
}

.header-lien{
    color: #534B35;
    font-family: 'Inter', serif;
    font-style: italic;
    text-decoration: none;
    margin: 0 25px;
}

.header-login{
    color: #534B35;
    font-family: 'Inter', serif;
    font-style: italic;
    text-decoration: none;
}

.div-logo-link{
    margin-left: 8px;
    justify-content: flex-start;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    left: 4px;
}

.div-link{
    display: flex;
    align-content: center;
    width: 100%;
    height: 45px;
    align-items: center;
}

.div-search-login{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    height: 45px;
}

.div-search{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 67%;
}

.input-search{
    background-color: white;
    width: 5%;
    height: 10px;
    border: none;
    border-radius: 25%;
    transition: 0.5s;
    padding: 10px;
}

.div-login{
    display: flex;
    align-content: center;
    align-items: center;
    color: #534B35;
    font-family: 'Inter', serif;
    font-style: italic;
    width: fit-content;
    margin-right: 15px;
}

.div-login a{
    margin-right: 10px;
    padding: 5px 0;
}

.div-login:hover > a{
    border-bottom: 1px solid #9CF196;
    color: #9CF196;
}

.div-logo{
    display: flex;
    align-content: center;
    color: #534B35;
    height: 45px;
    font-size: 26px;
}

svg{
    cursor: pointer;
    margin-right: 5px;
}

.liste-header{
    height: 100%;
    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.div-search:hover > input{
    width: 80%;
    transition: width 0.5s;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-right: 25px;
}

.div-search input:focus{
    width: 80%;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-right: 25px;
}

.div-search input:focus{
    width: 80%;
    background-color: #F1F1F1;
    border-radius: 15px;
}

.liste-header:hover{
    background-color: #9CF196;
    width: fit-content;
    border-radius: 10px;
}

.liste-header:hover > a {
    color: white;
}