.cont-main-home{
    width: 100%;
    overflow-x: hidden;
}

.first-page-home{
    height: 100vh;
    background: #534B35;
    display: flex;
    justify-content: start;
    align-items: center;
}

.big-apple-home{
    position: absolute;
    left: -20px;
    top: -5px;
}

.little-apple-home{
    height: min-content;
    width: min-content;
    position: absolute;
    right: -5px;
}

.little-mid-apple-home{
    height: min-content;
    width: min-content;
    position: absolute;
    bottom: -3px;
    left: 50%;
}

.cont-item-first-page{
    height: 200px;
    width: 200px;
    background: white;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    opacity: 0.5;
    margin-left: 50px;
}