.card-cont-plan{
    position: absolute;
    z-index: 4;
    display: flex;
    height: calc(93vh - 50px);
    width: 400px;
    right: 10px;
    background: white;
    border-radius: 10px;
    top: 70px;
    flex-direction: column;
}

.card-head-plan{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: #534B35;
}