.cont-card-restau{
    display: flex;
    flex-direction: row;
    padding: 13px;
    background: aliceblue;
    border-radius: 15px;
    height: 150px;
    width: 500px;
}

.cont-utils-card-restau{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.img-card-restau{
    margin-right: 15px;
    width: 160px;
    border-radius: 5px;
    background: white;
    object-fit: contain;
}

.img-card-restau img{
    height: 100%;
    width: 100%;
}


.title-txt-card-restau{
    margin-bottom: 10px;
}

.txt-card-restau{
    display: flex;
    flex-direction: column;
    flex : 1;
}

.control-card-restau{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note-control-card-restau{
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-control-card-restau .note{
    position : absolute;

}

